.container {
  padding-top: 80px;
}

.content {
  display: flex;
  /* justify-content: space-between; */
  align-items: top;
}

.video-component {
  width: 70%;
}

.chat-component {
  float: right;
  width:min-content;
}
